.todo-input {
    flex: 1;
    padding: 15px 30px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color 0.3s;
  }
  
  .todo-input::placeholder {
    color: #999;
    font-style: italic; 
  }
  
  .todo-input:focus {
    border-color: #b83f45;
    color: #000; 
    font-weight: 500;
  }
  
  .todo-input:hover {
    border-color: #b83f45; 
  }
  