.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  .todo-item:last-child {
    margin-bottom: 0;
  }
  
  .todo-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .toggle-button,
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .toggle-button:hover,
  .delete-button:hover {
    color: #b83f45;
    transform: scale(1.2);
  }
  
  .todo-text {
    flex-grow: 1;
    margin: 0 10px;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .todo-text.completed {
    text-decoration: line-through;
    color: #aaa;
  }
  